JWT_SECRET=secret
SERVER_ADDRESS=127.0.0.1:13001
DATABASE_FILE=/path/to/yaas.db
HTTPS=0
FRONTEND_DIR=/path/to/frontend
OPENAI_API_KEY=key
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_S3_BUCKET=xxx
