JWT_SECRET=secret
SERVER_ADDRESS=127.0.0.1:13001
SERVER_PUBLIC_URL=http://127.0.0.1:15000
DATABASE_FILE=/path/to/yaas.db
HTTPS=0
FRONTEND_DIR=/path/to/frontend
AUTH_PUBLIC_BASE_URL=https://yaas-server.com
AUTH_API_BASE_URL=http://yaas-private-host
AUTH_CLIENT_ID=xxx
AUTH_CLIENT_SECREt=xxx
OPENAI_API_KEY=key
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_S3_BUCKET=xxx
